body {
    color: #333;
}
h2, h3, h4, h5, h6 {
    color: #333;
}

#visual-portal-wrapper {
    max-width: 60em;
    margin: 0.5em auto 0;
}


#portal-searchbox {
    clear: none;
    margin: 0;
}

#banner_logo {
    clear: both;
    display: block;
    margin: 1em 0;
    text-align: center;
    width: 100%;
}

#portal-globalnav {
    background-color: transparent;
}
#portal-globalnav li a {
    display: block;
    float: left;
    padding: 0.5em;
    white-space: normal;
    height: 3.5em;
    width: auto;
    color: white;
    background-color: #00AEF7;
    border-right: none;
}

body.site-exhibitsponsor #portal-globalnav li a {
    width: 7.8em;
}
#portal-globalnav li.selected a,
#portal-globalnav li a:hover {
    background-color: #ddd;
    color: #00AEF7 !important;
}
#portal-globalnav ul.submenu li a {
    color: white !important;
}
#portal-globalnav ul.submenu li a:hover {
    color: #00AEF7 !important;
}

#portal-globalnav li#portaltab-exhibitsponsor a {
    background-color: #6ec068;
}
#portal-globalnav li#portaltab-exhibitsponsor a:hover {
    color: #6ec068 !important;
    background-color: #ddd;
}

body.site-western #portaltab-exhibithome {
    display: none;
}

body.site-exhibitsponsor #portal-globalnav li a {
    background-color: #6ec068;
}
body.site-exhibitsponsor #portal-globalnav li#portaltab-index_html a {
    background-color: #00AEF7;
}


body.site-exhibitsponsor #portal-globalnav li.selected a,
body.site-exhibitsponsor #portal-globalnav li a:hover {
    background-color: #ddd !important;
    color: #6ec068 !important;
}

#portal-top {
    padding-bottom: 1.5em;
}


#portal-footer {
    background-color: white;
    border-top: 2em solid #00AEF7;
    margin: 0;
    line-height: 1.25em;
}
body.site-exhibitsponsor #portal-footer {
    border-top: 2em solid #6ec068;
}


dl.portlet dt, div.portletAssignments div.portletHeader,
dl.portlet dt a {
    background-color: transparent;
    color: #1DB2ED !important;
}

#content {
    margin: 0 0 0.2em;
}

body.section-frontpage .documentFirstHeading,
body.section-frontpage .documentByLine {
    display: none;
}

body.section-frontpage table.invisible {
    width: 100%;
}
body.section-frontpage table.invisible th,
body.section-frontpage table.invisible td {
    padding: 0 1em 1em 0;
    font-weight: normal;
}

.decright {
    float:right;
    padding: 0 0 0 1em;
    text-align:right;
}
.decleft {
    float:left;
    padding: 0 2em 0;
    text-align:left;
}
.decright img, .decleft img {
    padding-bottom: 1em;
}


/* checklist styles */

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    padding: 0.5em 1em;
}

.btn-default {
    color: #333333 !important;
    background-color: #ffffff;
    border-color: #cccccc !important;
}
.btn-primary {
    color: #ffffff !important;
    background-color: #337ab7;
    border-color: #2e6da4 !important;
}

.form-list th {
    padding: 0.25em 0.5em 0.25em 0;
    font-size: 140%;
}
.form-list td {
    padding: 0.5em;
}

#content input {
    margin-right: 0.5em !important;
}
.speaker-redirect {
    text-align: center;
    padding: 1em 0;
}

.session-list, .form-list {
    border: 1px solid #000;
    padding: 1em;
    margin: 1em 0;
}

#portal-globalnav li#portaltab-speaker-center-1 a {
    background-color: #000;
}
#portal-globalnav li#portaltab-speaker-center-1 a:hover {
    color: #fff !important;
    background-color: #000;
}

td a.btn {
    display: block;
}

@media print {
    #banner_logo {
        position: static;
        float: left;
    }
    #portal-header {
        padding-left: 0;
    }
    #banner_type {
        padding-top: 1em;
    }
    #portal-columns {
        clear: both;
        padding-top: 1em;
    }
    .speaker-redirect,
    .template-speaker-agreement form {
        display: none;
    }
}

@media handheld, screen and (max-width: 1023px) {


#fieldset-openid-login label, #login-form label, #loginform label {
    width: 30%;
    font-size: 5vw;
}

 #login-form input, #loginform input {
    font-size: 5vw;
    width: 60%;
}

#fieldset-openid-login .formControls input, #login-form .formControls input {
    border: 1px solid #000;
    background-color: #00AEF7;
    padding: 0.25em 1em;
    margin: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
}

}

@media handheld, screen and (max-width: 767px) {

#portal-searchbox {
    clear: both;
}

#searchGadget {
    width: 70%;
    border: 1px solid #000;
}

#portal-globalnav li a {
    width: 85vw !important;
    height: auto;
    border-radius: 5px;
    margin: 1vw;
    font-size: 75%;
}

#portal-top {
    padding-bottom: 0;
}

}
